<div class='login_page page_wrapper'>
    {{#Popup }}
        {{{Form
                callbackToButton=callbackToButton
                callbackToLink=callbackToLink
                inputData=inputData
                buttonData=buttonData
                linkData=linkData
        }}}
    {{/Popup }}
</div>
