<div class='search-input_wrapper'>
    <input required value='{{value}}' placeholder='{{placeholder}}' class='search-input font_12 {{class}}' />
    <img src='/img/searchIcon.svg' class='search-input_icon' height='20' width='20'>
</div>
