<div class='error-page_wrapper page_wrapper'>
    {{{ H1 text='500' class='error-page_header' }}}
    {{{ Paragraph text='Мы уже фиксим' class='error-page_message font_20' }}}
    {{{ Link href=href linkText='Назад к чатам' class='font_11' onClick=onClick }}}
</div>