@import 'src/variables';

.chat-page_wrapper {
  display: grid;
  grid-template-columns: 19.375rem 1fr;
  height: 100vh;
}

.chat-page_chat-list {
  background-color: $back-button-background;
  border-right: 1px solid $divider;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.chat-list_search-block {
  border-bottom: 1px solid $divider;
  display: flex;
  flex-direction: column;
  gap: 1.4375rem;
  padding: 1.3125rem 0.625rem 0.875rem;
}

.search-block_profile-link-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  flex-grow: 1;
}

.profile-link_link {
  color: $light-gray;
}

.chat-list_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  flex-grow: 1;
  overflow-y: auto;
  max-height: calc(100vh - 10.5rem);
}

.chat-page_chat {
  display: flex;
  flex-direction: column;
  padding: 0.625rem 1.25rem;
  width: 100%;
}

.chat-page_header {
  border-bottom: 1px solid $divider;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.625rem
}

.header_avatar {
  cursor: pointer;
  padding: 0;
  height: 2.9375rem;
  width: 2.9375rem;
}

.small-avatar img {
  height: 2.9375rem;
  width: auto;
}

.chat-name {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 0.8125rem;
}

.chat-name_wrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.chat-button_wrapper {
  display: flex;
  align-items: center;
}

.chat-page_message-list {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  justify-content: flex-start;
  padding-bottom: 1.875rem;
  width: 100%;
}

.out-message {
  justify-self: flex-start;
}

.message-list_date {
  color: $light-gray;
  margin-top: 3rem;
  margin-bottom: 1.875rem;
  text-align: center;
  width: 100%;
}

.new-message_wrapper {
  border-top: 1px solid $divider;
  display: flex;
  gap: 0.625rem;
  justify-content: space-between;
  padding-top: 0.625rem;
}

.chat-page_add-chat-popup {
  position: absolute;
  top: 4.8775rem;
  right: 0.625rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: fit-content;
}

.chat_add-chat-popup-wrapper {
  position: absolute;
  inset: 0;
  display: none;
}

.chat_add-user-popup-wrapper {
  position: absolute;
  inset: 0;
  background-color: #1E1E1EE8;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.chat-page_add-chat-button {
  margin: 1rem auto;
}
