.user-operation_wrapper {
  background-color: white;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.user-operation_header {
  margin-bottom: 3.125rem;
}

.user-operation_button {
  margin-top: 2.0625rem;
}
