.chat-page_user-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chat-list_wrapper-one-in-list {
  max-height: calc(100vh - 2.5rem);
}

.chat-page_message-list-usersPage {
  padding-bottom: 0;
  flex-direction: column;
}

.chat-page_title {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
