<div class='reg_page page_wrapper'>
    {{#Popup }}
        {{{Form
                callbackToButton=callbackToButton
                callbackToLink=callbackToLink
                inputData=inputData
                buttonData=buttonData
                linkData=linkData
        }}}
        {{{ErrorMessage ref='loginErrorMessage'}}}
    {{/Popup }}
</div>
