<div class='page_wrapper'>
    <nav>
        <ul class='index-page_ul'>
            {{#each links}}
                <li>{{{Link href=this.htef class=this.class linkText=this.linkText onClick=this.onClick }}}</li>
            {{/each}}
        </ul>
    </nav>
</div>

