<ul id='{{id}}' class='chat-users-list_ul'>
    {{#each data}}
        <li class='chat-users-list_li'>
            <label>
                <input type='checkbox' value='{{this.id}}' />
                {{this.login}}
            </label>
        </li>
    {{/each}}
</ul>