<form class='search-user_form'>
    <label class='search-user_label'>
        Введите логин
        <input name="login" placeholder="Введите логин" class='search-user_input' />
    </label>
    <button type="submit" class="button form_button">Искать</button>
</form>
