@import './variables';
@import './fonts';

// components
@import './components/link/index';
@import './components/form/index';
@import './components/popup/index';
@import './components/avatar/index';
@import './components/button/index';
@import './components/addFile/index';
@import './components/chatItem/index';
@import './components/sendButton/index';
@import './components/inputBlock/index';
@import './components/searchInput/index';
@import './components/inputElement/index';
@import './components/addFileButton/index';
@import './components/addUserButton/index';
@import './components/inMessageItem/index';
@import './components/outMessageItem/index';
@import './components/newMessageBlock/index';
@import './components/newMessageInput/index';
@import './components/userProfileForm/index';
@import './components/userProfileAvatar/index';
@import './components/userProfileInputBlock/index';
@import './components/unreadMessageIndicator/index';

// partials
@import './partials/divider';
@import './partials/messageTime';

// pages
@import './pages/chat/index';
@import './pages/login/index';
@import './pages/uiLib/index';
@import './pages/userProfile/index';
@import './pages/registration/index';

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  color: $common-black-text;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
}

main {
  display: block;
  min-height: 100vh;
  min-width: 320px;
  margin: 0 auto;
  width: 100%;
}

button {
  cursor: pointer;
}

.page_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.link_block {
  gap: 1rem;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.875rem;
}

.form_inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.error-page_header {
  margin-bottom: 1.25rem;
}

.error-page_message {
  margin-top: 0;
  margin-bottom: 4.3125rem;
}

.form_input-error {
  color: #ff2f2f;
}
