$common-black-text: #1E1E1E;
$red-alert: #FF2F2F;
$red-exit-link: #FF0000;
$button-bg-color: #3369F3;
$light-gray: #999999;
$light-blue: #3369F3;
$light-gray-chat: #EFEFEF;
$light-gray-message-time: #A9A9A9;
$divider: #EAEAEA;
$back-button-background: #FBFBFB;
$avatar-hover-background: rgba(0, 0, 0, 0.65);
$incoming-messages-background: #F8F8F8;
$outgoing-messages-background: #E4EDFD;
$add-user-button-background: #F5F5F5;
